@use "../styles/layout";
@use "../styles/typography";
@use "../styles/colors";
@use "../styles/variables";

.wrapper {
  @include layout.paddedBox();
  @include layout.verticalLayout();

  min-height: 400px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-bottom: variables.$doubleGap;
  padding-top: calc(variables.$doubleGap * 2);

  &:after {
    content: "";
    background-image: url("./assets/bg-2.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: -2;
  }

}
