@use "../styles/variables";

@mixin verticalLayout($gap: variables.$baseGap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin horizontalLayout($gap: variables.$baseGap) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

@mixin paddedBox($padding: variables.$doubleGap) {
  border: 1px solid red;
  padding: 0 $padding !important;
}
