@use "../../../../styles/colors";
@use "../../../../styles/layout";
@use "../../../../styles/variables";
@use "../../../../styles/typography";
@use "../../../../styles/reset";

.membership-definition-card {
  @include reset.reset();
  .bottom {
    @include layout.horizontalLayout(variables.$baseGap);
    align-items: end;
    justify-content: space-between;

    & > span {
      color: colors.$colorBlack500;
      font-size: typography.$fontSizeS;
      @include layout.horizontalLayout(5px);
      align-items: center;
    }

    & > div {
      @include layout.verticalLayout(0);
      align-items: end;

      span:first-child {
        font-size: typography.$fontSizeXL;
        font-weight: typography.$fontWeightBolder;
        line-height: typography.$lineSpacingS;
        color: colors.$colorBlack500;
      }

      span:last-child {
        color: colors.$colorBlack500;
        font-size: typography.$fontSizeS;
      }
    }
  }
}
