$colorWhite500: #FCFCFC;
$colorBlack500: #292C2D;
$colorBlack100: rgba($colorBlack500, .2);
$colorBlack200: rgba($colorBlack500, .5);

$colorGreen500: #9BD98E;
$colorOrange500: #D57B7B;

$colorMain500: #657FF7;
