$colorWhite500: #fcfcfc;
$colorBlack500: #292c2d;
$colorBlack100: rgba($colorBlack500, 0.2);
$colorBlack200: rgba($colorBlack500, 0.5);
$colorBlack300: rgba($colorBlack500, 0.7);

$colorGreen500: #9bd98e;
$colorOrange500: #d57b7b;

$colorMain500: #657ff7;
