$fontFamilyPoppins: "Poppins", sans-serif;

$fontSizeXXL: 24px;
$fontSizeXL: 20px;
$fontSizeL: 18px;
$fontSizeM: 15px;
$fontSizeS: 12px;

$fontWeightNormal: 400;
$fontWeightBold: 700;
$fontWeightBolder: 900;

$lineSpacingL: 29px;
$lineSpacingM: 20px;
$lineSpacingS: 12px;
