$fontFamilyPoppins: "Poppins", sans-serif;

$fontSizeXL: 24px;
$fontSizeL: 18px;
$fontSizeS: 12px;
$fontSizeM: 15px;

$fontWeightNormal: 300;
$fontWeightBold: 700;
$fontWeightBolder: 900;

$lineSpacingL: 29px;
$lineSpacingM: 20px;
$lineSpacingS: 12px;
