
$fontFamilyPoppins: 'Poppins', sans-serif;

$fontSizeXL: 2.4rem;
$fontSizeL: 1.8rem;
$fontSizeS: 1.2rem;
$fontSizeM: 1.5rem;

$fontWeightNormal: 200;
$fontWeightBold: 700;
$fontWeightBolder: 900;

$lineSpacingL: 2.9rem;
$lineSpacingM: 1.4rem;
$lineSpacingS: 1.2rem;
